header {
  font-family: 'Kalam';
  font-weight: 400;
  text-align: center;
}

.header {
  font-size: 5rem;
  line-height: 1;
  margin-top: 3rem;

  &__sub {
    font-size: 1.8rem;
    line-height: 1.3;
  }
}
